<template>
  <DefaultLayout>
    <!-- Heading -->
    <h1 class="h3 mt-lg-5">Dear Ubuntu Contributors</h1>
    <p class="mt-3 h6">
      The entire UBports community relies on these pages. Unfortunately, the
      correlation between porter’s work and the software capability list is a
      manual process. Therefore, we would appreciate it if you could help
      improve this website. Newcomers will benefit from your work!
    </p>

    <p class="mt-3">
      Due to the natural characteristics of open source, information tends to be
      spread across and wide range of resources, and it can be a challenge to
      track everything down.
    </p>

    <p class="mt-3">
      We encourage porters to bring everything together in one place and to keep
      the most relevant links for their devices up-to-date.
    </p>

    <p class="mt-3">
      The list of properties that a device page can present may vary over time.
      However, the porters provide the mandatory information to establish a page
      with at least the essential info.
    </p>

    <div v-if="$page.device.notValid.length">
      <h2 class="h4 light mt-5">How can you help?</h2>

      <p class="mt-2">
        We noticed
        <a
          class="text-orange bold underline"
          :href="
            'https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io/-/blob/main/data/devices/' +
            $page.device.codename +
            '.md'
          "
        >
          {{ $page.device.name }} page
        </a>
        has few missing properties from the last report
      </p>

      <ul class="mt-2 missing-data-list">
        <li v-for="(error, index) in $page.device.notValid" :key="index">
          {{ error }}
        </li>
      </ul>
    </div>

    <p class="mt-3">Use these guidelines to fill the missing parts</p>
    <p>
      <a
        href="https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io#device-description"
        target="_blank"
        class="link"
        >Device description</a
      >
      |
      <a
        href="https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io#contributors"
        target="_blank"
        class="link"
        >Contributors</a
      >
      |
      <a
        href="https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io#yaml-metadata-block-reference"
        target="_blank"
        class="link"
        >Meta Data</a
      >
      |
      <a
        href="https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io#device-specifications"
        target="_blank"
        class="link"
        >Device Info (Specifications)</a
      >
    </p>

    <div class="mt-5 banner-grey">
      <p>Another way you can help</p>
      <h3 class="h4 mt-3 light">→ Gather information</h3>

      <p class="mt-3">
        Did you come across a useful source for information that helped you over
        come issue? Then we ask you to share it with us! submit it as an
        <a
          href="https://gitlab.com/ubports/infrastructure/devices.ubuntu-touch.io#external-links-community-help-and-doc-links"
          target="_blank"
          class="link"
          >External Link</a
        >
      </p>
    </div>
  </DefaultLayout>
</template>

<page-query>
query ($id: ID!) {
  device(id: $id) {
    name
    codename
    nextProgressStage
    notValid
    portStatus { categoryName }
    nextStageRequirements {
      categoryName
      features { name value }
    }
  }
}
</page-query>

<script>
export default {
  metaInfo() {
    return {
      title: this.$page.device.name,
      titleTemplate: "%s • Missing data • Ubuntu Touch",
      meta: [
        {
          name: "description",
          content:
            "Read the developer report for " +
            this.$page.device.name +
            " with the Ubuntu Touch operating system."
        },
        {
          property: "og:url",
          content: "https://devices.ubuntu-touch.io" + this.$route.path
        },
        {
          property: "og:title",
          content: this.$page.device.name + " • Developer report"
        },
        {
          property: "og:description",
          content:
            "Read the developer report for " +
            this.$page.device.name +
            " with the Ubuntu Touch operating system."
        }
      ]
    };
  }
};
</script>
